<% provide(:title, "About") %>
<h1>About Nick's App</h1>
<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-7'>
    <h3>Nick's App is a very basic Twitter clone made using Ruby on Rails.</h3>
    <p>
      <ul>
        <li>Follow other people who have registered and stay updated on their activity via your NickFeed</li>
        <li>Share your own thoughts with your followers by creating your own microposts</li>
        <li>Upload pictures to complement your microposts and help to share your own experiences</li>
      </ul>
    </p>
  </div>
  <div class='col-md-2'></div>
</div>

<div class='row' style='margin-top: 2%'>
  <div class='col-lg-3' style="margin-left: 37.5%">
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary btn-block" %>
    <%= link_to "Log in", login_path, class: 'btn btn-lg btn-danger btn-block' %>
  </div>
</div>

<h1>Extra</h1>
<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6 static_copy'>
    <p>
    Welcome to my very first web application created in
    <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </p>
  
  <p>
    The original version of this application was made following
    <a href="http://www.michaelhartl.com/" target=_blank>Michael Hartl's</a>
    <a href="http://www.railstutorial.org/book" target=_blank><em>Ruby on Rails Tutorial book</em></a>
  </p>
  
  <p>
    Since then I have personalised this app to my own liking.
  </p>
  
  <p>
    For those interested, I have placed the
    <a href="https://github.com/NJWong/rails-sample-app" target=_blank>Source Code</a>
    on my
    <a href="https://github.com/NJWong" target=_blank>GitHub Account</a>.
    Please feel free to have a look!
  </p>
  
  <p>
    I hope you have fun using my very simple application!
  </p>
  </div>
  <div class='col-md-3'></div>
</div>

  <h3 class="static_copy">
    ~ <a href="https://www.linkedin.com/pub/nicholas-wong/7a/740/803" target=blank><em>Nicholas Wong</em></a> ~
  </h3>