<% provide(:title, "Help") %>
<h1>Help</h1>

<div class='static_copy'>
  <p>
    Since this is my first real web application, I would greatly appreciate any and all feedback :)
  </p>
  
  <p>
    If you have any then please send it to:
  </p>
  
  <p>
    NicksAppFeedback@gmail.com
  </p>
</div>