<footer class="footer">
  <small>
    Nick's App
    by <a href="https://www.linkedin.com/pub/nicholas-wong/7a/740/803" target=blank>Nicholas Wong</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>